header {
    background-color: #FFF;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 8% 0;
}

.container:hover {
    justify-content: space-around;
    transition: 2s;
}

.img-header {
    width: 25%;
}